@mixin OpenSansLight {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}
@mixin OpenSansSemiBold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
@mixin OpenSansExtraBold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}

$base-z-index: 10;
$base-mobile-padding: 15px;
$transition-speed: .5s;

.animated-spinner-hero {
	width: 100vw;
	height: 100vh;
	
	.swiper-wrapper {
		.swiper-slide {
			background-position: center center;
			background-size: cover;
			padding-left: 15px;
			padding-right: 15px;
			
			.headline {
				color: white;
				width: 50vw;
				h2 {
					@include OpenSansExtraBold;
					font-size: 10vw;
					margin-top: 0;
					// page load {
						//margin-left: -30px; // page load
						//opacity: 0; // page load
						//transition: opacity 1s ease, margin-left 1s ease;
					//}
				}
				.description {
					@include OpenSansLight;
					font-size: 6vw;
					line-height: 1.4;
					// page load {
						//opacity: 0;
						//transition: opacity 1s ease;
					//}
				}
			}
		}
	}
	.spinner-container {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: $base-z-index;
		padding-right: $base-mobile-padding;
		
		$pager-control-width: 75px;

		.spinner-pagination {
			bottom: 0;
			margin-bottom: 0;
			padding-left: 0;
			&.page-load-animation {
				.pager {
					transition: opacity 1s ease;
				}
			}

			.pager {
				position: absolute;
				@include OpenSansSemiBold;
				font-size: 18px;
				color: white;
				margin: 0;
				width: 100%;
				text-align: left;
				border: 1px solid transparent;
				opacity: 0;
				transition: top $transition-speed ease, opacity $transition-speed ease;//, padding $transition-speed ease;
				padding: 40px 100px 40px $pager-control-width;
				bottom: 0;
				// page load {
					//opacity: 0;
				//}
				
				&.visible {
					opacity: 0;
				}
				
				&.active {
					opacity: 1;

					.pager-cta {
						display: none;	
					}
				}
				&.queued {
					opacity: 0;
				}
			}
		}
		.spinner-background {
			position: absolute;
			bottom: 0;
			width: 100%;
			background-color: rgba(255, 255, 255, .3);
			transition: height $transition-speed ease;//, opacity 1s ease; // height is spinner animation opacity is pageload animation
			// page load {
				//transition: height $transition-speed ease, opacity 1s ease;
				//opacity: 0;	
			//}
			.swiper-controls {
				position: absolute;
				width: $pager-control-width;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 9999;
				.swiper-control {
					position: absolute;
					left: 0;
					width: 100%;
					height: 50%;
					cursor: pointer;
					background-size: 30px 18px;
					background-repeat: no-repeat;
					background-position: center center;
					opacity: .75;
					transition: background-size 100ms ease-in-out, opacity 100ms ease-in-out;
					
					&:active {
						opacity: 1;
						background-size: 34px 20px;
					}
				}
				.swiper-page-prev {
					top: 0;
					background-image: url(../img/up-chevron.png);
				}
				.swiper-page-next {
					bottom: 0;
					background-image: url(../img/down-chevron.png);
				}
			}
			.pager-cta {
				opacity: 1;
				position: absolute;
				z-index: 9999;
				height: 100%;
				width: 60px;
				top: 0;
				right: 0;
				background: url(../img/pager-cta.png) no-repeat center center;
				background-size: 30px;

				a {
					position: absolute;
					height: 100%;
					width: 100%;
					cursor: pointer;
				}	
			}
		}
	}
}