/* Imports */
/* breakpoints */
.clearfix {
  float: none;
  clear: both; }

/* MOBILE FIRST! */
.animated-spinner-hero {
  width: 100vw;
  height: 100vh; }

.animated-spinner-hero .swiper-wrapper .swiper-slide {
  background-position: center center;
  background-size: cover;
  padding-left: 15px;
  padding-right: 15px; }

.animated-spinner-hero .swiper-wrapper .swiper-slide .headline {
  color: white; }

.animated-spinner-hero .swiper-wrapper .swiper-slide .headline h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 10vw;
  margin-top: 0; }

.animated-spinner-hero .swiper-wrapper .swiper-slide .headline .description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 6vw;
  line-height: 1.4; }

.animated-spinner-hero .spinner-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 10;
  padding-right: 15px; }

.animated-spinner-hero .spinner-container .spinner-pagination {
  bottom: 0;
  margin-bottom: 0;
  padding-left: 0; }

.animated-spinner-hero .spinner-container .spinner-pagination.page-load-animation .pager {
  transition: opacity 1s ease; }

.animated-spinner-hero .spinner-container .spinner-pagination .pager {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: white;
  margin: 0;
  width: 100%;
  text-align: left;
  border: 1px solid transparent;
  opacity: 0;
  transition: top 0.5s ease, opacity 0.5s ease;
  padding: 40px 100px 40px 75px;
  bottom: 0; }

.animated-spinner-hero .spinner-container .spinner-pagination .pager.visible {
  opacity: 0; }

.animated-spinner-hero .spinner-container .spinner-pagination .pager.active {
  opacity: 1; }

.animated-spinner-hero .spinner-container .spinner-pagination .pager.active .pager-cta {
  display: none; }

.animated-spinner-hero .spinner-container .spinner-pagination .pager.queued {
  opacity: 0; }

.animated-spinner-hero .spinner-container .spinner-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: height 0.5s ease; }

.animated-spinner-hero .spinner-container .spinner-background .swiper-controls {
  position: absolute;
  width: 75px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999; }

.animated-spinner-hero .spinner-container .spinner-background .swiper-controls .swiper-control {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  cursor: pointer;
  background-size: 30px 18px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .75;
  transition: background-size 100ms ease-in-out, opacity 100ms ease-in-out; }

.animated-spinner-hero .spinner-container .spinner-background .swiper-controls .swiper-control:active {
  opacity: 1;
  background-size: 34px 20px; }

.animated-spinner-hero .spinner-container .spinner-background .swiper-controls .swiper-page-prev {
  top: 0;
  background-image: url(../img/up-chevron.png); }

.animated-spinner-hero .spinner-container .spinner-background .swiper-controls .swiper-page-next {
  bottom: 0;
  background-image: url(../img/down-chevron.png); }

.animated-spinner-hero .spinner-container .spinner-background .pager-cta {
  opacity: 1;
  position: absolute;
  z-index: 9999;
  height: 100%;
  width: 60px;
  top: 0;
  right: 0;
  background: url(../img/pager-cta.png) no-repeat center center;
  background-size: 30px; }

.animated-spinner-hero .spinner-container .spinner-background .pager-cta a {
  position: absolute;
  height: 100%;
  width: 100%;
  cursor: pointer; }

@media (min-width: 768px) {
  .animated-spinner-hero .swiper-wrapper .swiper-slide .headline {
    margin-top: 30vh;
    color: white; }
  .animated-spinner-hero .swiper-wrapper .swiper-slide .headline h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 36px;
    margin-top: 0; }
  .animated-spinner-hero .swiper-wrapper .swiper-slide .headline .description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.4; }
  .animated-spinner-hero .spinner-container {
    top: 60vh;
    width: 50vw;
    height: auto;
    min-width: 700px; }
  .animated-spinner-hero .spinner-container .spinner-pagination .pager {
    font-size: 20px;
    padding: 0 50px 0 75px;
    background: none;
    bottom: auto; }
  .animated-spinner-hero .spinner-container .spinner-pagination .pager.active {
    top: 25px;
    bottom: auto; }
  .animated-spinner-hero .spinner-container .spinner-pagination .pager.visible {
    opacity: 1; }
  .animated-spinner-hero .spinner-container .spinner-background {
    top: 0;
    bottom: auto; }
  .animated-spinner-hero .spinner-container .spinner-background .swiper-controls .swiper-control {
    background-size: 20px 12px;
    opacity: .5;
    transition: opacity 0.5s ease; }
  .animated-spinner-hero .spinner-container .spinner-background .swiper-controls .swiper-control:hover {
    opacity: 1; }
  .animated-spinner-hero .spinner-container .spinner-background .pager-cta {
    opacity: .5;
    transition: opacity 0.5s ease; }
  .animated-spinner-hero .spinner-container .spinner-background .pager-cta:hover {
    opacity: 1; } }
