@mixin OpenSansLight {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}
@mixin OpenSansSemiBold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}
@mixin OpenSansExtraBold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}


$base-z-index: 10;
$base-mobile-padding: 15px;
$transition-speed: 5s;

.animated-spinner-hero {
	width: 100vw;
	height: 100vh;
	
	.swiper-wrapper {
		.swiper-slide {
			background-position: center center;
			background-size: cover;
			padding-left: 15px;
			padding-right: 15px;
			
			.headline {
				color: white;
						
				h2 {
					@include OpenSansExtraBold;
					font-size: 10vw;
					margin-top: 0;
					margin-left: -30px;
					opacity: 0;
					transition: opacity 1s ease, margin-left 1s ease; // page load animation
				}
				.description {
					@include OpenSansLight;
					font-size: 6vw;
					line-height: 1.4;
					opacity: 0;
					transition: opacity 1s ease;  // page load animation
				}
			}
		}
	}
	.spinner-container {
		position: absolute;
		height: 220px;
		bottom: 0;
		z-index: $base-z-index;
		padding-right: $base-mobile-padding;
		.spinner-pagination {
			
			&.page-load-animation {
				.pager {
					transition: opacity 1s ease;
				}
			}
			
			.pager {
				position: absolute;
				@include OpenSansSemiBold;
				font-size: 14px;
				color: white;
				margin: 0;
				width: 100%;
				text-align: left;
				padding: 5px 0 5px 75px;
				opacity: 0;
				//transition: top $transition-speed ease, opacity $transition-speed ease;
				
				&.prev {
					opacity: 0;
				}
				
				&.active {
					top: 0;
					//opacity: 1;
					padding: 20px 45px 20px 45px;
					
					.pager-cta {
						position: absolute;
						height: 100%;
						width: 40px;
						top: 0;
						right: 0;
						//transform: translateY(-50%);
						background: url(../img/pager-cta.png) no-repeat center right 10px;
						background-size: 30px;
						a {
							
						}	
					}
				}
				&.next {
					//opacity: .5;
				}
				&.next-2 {
					//opacity: .25;
				}
				&.next-3 {
					//opacity: .15;
				}
			}
		}
		.spinner-background {
			position: relative;
			background-color: rgba(255, 255, 255, .3);
			opacity: 0;
			transition: height $transition-speed ease, opacity 1s ease; // height is spinner animation opacity is pageload animation
			.swiper-page-prev, .swiper-page-next {
				position: absolute;
				left: 0;
				width: 40px;
				height: 50%;
				cursor: pointer;
				background-size: 20px 12px;
				background-repeat: no-repeat;
				background-position: center center;
				opacity: .75;
			}
			.swiper-page-prev {
				top: 0;
				background-image: url(../img/up-chevron.png);
			}
			.swiper-page-next {
				bottom: 0;
				background-image: url(../img/down-chevron.png);
			}
		}
	}
}