/* Imports */
/* breakpoints */
.clearfix {
  float: none;
  clear: both; }

/* MOBILE FIRST! */
.swiper-container {
  width: 100vw;
  height: 100vh; }

.swiper-container .headline {
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 900;
  color: white;
  width: 600px; }

.swiper-container .headline h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 50px;
  margin-top: 0; }

.swiper-container .headline .description {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 24px; }

.swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-size: cover; }

.swiper-container .swiper-wrapper .swiper-slide .green {
  display: none;
  position: absolute;
  top: 100px;
  right: 100px;
  width: 100px;
  height: 100px;
  background-color: green; }

.swiper-container .swiper-wrapper .swiper-slide .red {
  display: none;
  position: absolute;
  top: 200px;
  right: 300px;
  width: 200px;
  height: 200px;
  background-color: red; }

.swiper-container .swiper-wrapper .swiper-slide .callout-panel {
  display: none;
  text-align: left;
  padding: 25px;
  color: white;
  position: absolute;
  top: 25%;
  right: 100px;
  width: 500px;
  background-color: rgba(0, 70, 127, 0.75);
  font-family: 'Roboto', sans-serif;
  font-weight: 100; }

.swiper-container .swiper-wrapper .swiper-slide .callout-panel h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 32;
  margin-top: 0; }

.swiper-container .spinner {
  position: absolute;
  width: 400px;
  height: 312px;
  left: 100px;
  top: 400px;
  z-index: 10; }

.swiper-container .spinner .swiper-pagination {
  left: auto;
  bottom: auto; }

.swiper-container .spinner .swiper-pagination .pager {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  text-align: left;
  position: absolute;
  width: 500px;
  display: none;
  padding: 20px;
  transition: top 0.3s ease, opacity 0.3s ease, padding 0.3s ease, color 0.3s ease; }

.swiper-container .spinner .swiper-pagination .pager.prev-2, .swiper-container .spinner .swiper-pagination .pager.prev, .swiper-container .spinner .swiper-pagination .pager.next, .swiper-container .spinner .swiper-pagination .pager.next-2, .swiper-container .spinner .swiper-pagination .pager.next-3, .swiper-container .spinner .swiper-pagination .pager.prev-3 {
  color: white;
  display: block; }

.swiper-container .spinner .swiper-pagination .pager.active {
  top: 111px;
  display: block; }

.swiper-container .spinner .swiper-pagination .pager.prev {
  top: 66px;
  opacity: .25;
  padding: 5px 20px;
  cursor: pointer; }

.swiper-container .spinner .swiper-pagination .pager.next {
  top: 185px;
  opacity: .25;
  padding: 5px 20px;
  cursor: pointer; }

.swiper-container .spinner .swiper-pagination .pager.prev-2 {
  top: 30px;
  opacity: .15;
  padding: 0 30px; }

.swiper-container .spinner .swiper-pagination .pager.next-2 {
  margin-top: 0;
  top: 230px;
  padding: 0 30px;
  opacity: .15; }

.swiper-container .spinner .swiper-pagination .pager.prev-3 {
  top: 0;
  padding: 0 50px;
  opacity: 0; }

.swiper-container .spinner .swiper-pagination .pager.next-3 {
  top: 276px;
  padding: 0 50px;
  opacity: 0; }

.swiper-container .spinner .spinner-ui {
  position: absolute;
  width: 100%;
  height: 75px;
  left: 0;
  top: 111px; }

.swiper-container .spinner .spinner-ui .background-color {
  background-color: rgba(255, 255, 255, 0.75);
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1; }

.swiper-container .spinner .spinner-ui .swiper-page-prev {
  position: absolute;
  right: 25px;
  top: 12px;
  background: url(../img/up-chevron.png) no-repeat center center;
  background-size: 24px 14px;
  width: 24px;
  height: 14px;
  cursor: pointer;
  z-index: 9999; }

.swiper-container .spinner .spinner-ui .swiper-page-next {
  position: absolute;
  right: 25px;
  bottom: 12px;
  background: url(../img/down-chevron.png) no-repeat center center;
  background-size: 24px 14px;
  width: 24px;
  height: 14px;
  cursor: pointer;
  z-index: 9999; }

/* breakpoints */
/* breakpoints */
