/* Imports */
/* breakpoints */
.clearfix {
  float: none;
  clear: both; }

/* MOBILE FIRST! */
#test-prev {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100px;
  background-color: #fff;
  z-index: 9999;
  cursor: pointer; }

#test-next {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100px;
  background-color: #fff;
  z-index: 9999;
  cursor: pointer; }

#box {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: red;
  top: 100px;
  left: 100px;
  transition: left 2s ease; }

.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.animated-spinner-hero {
  width: 100vw;
  height: 100vh; }

.animated-spinner-hero .swiper-wrapper .swiper-slide {
  background-position: center center;
  background-size: cover;
  padding-left: 15px;
  padding-right: 15px; }

.animated-spinner-hero .swiper-wrapper .swiper-slide .headline {
  color: white; }

.animated-spinner-hero .swiper-wrapper .swiper-slide .headline h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 10vw;
  margin-top: 0; }

.animated-spinner-hero .swiper-wrapper .swiper-slide .headline .description {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 6vw;
  line-height: 1.4; }

.animated-spinner-hero .spinner-container {
  position: absolute;
  height: 220px;
  bottom: 0;
  z-index: 10;
  padding-right: 15px; }

.animated-spinner-hero .spinner-container .spinner-pagination.page-load-animation .pager {
  transition: opacity 1s ease; }

.animated-spinner-hero .spinner-container .spinner-pagination .pager {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: white;
  margin: 0;
  width: 100%;
  text-align: left;
  padding: 5px 0 5px 75px;
  border: 1px solid black;
  opacity: 0;
  transition: top 5s ease, opacity 5s ease; }

.animated-spinner-hero .spinner-container .spinner-pagination .pager.visible {
  opacity: 1;
  border: 1px solid silver; }

.animated-spinner-hero .spinner-container .spinner-pagination .pager.prev, .animated-spinner-hero .spinner-container .spinner-pagination .pager.active, .animated-spinner-hero .spinner-container .spinner-pagination .pager.next, .animated-spinner-hero .spinner-container .spinner-pagination .pager.next-2, .animated-spinner-hero .spinner-container .spinner-pagination .pager.next-3 {
  display: block; }

.animated-spinner-hero .spinner-container .spinner-pagination .pager.prev {
  transition: none;
  opacity: 1;
  color: tomato; }

.animated-spinner-hero .spinner-container .spinner-pagination .pager.active {
  top: 0;
  opacity: 1;
  padding-left: 45px;
  padding-right: 45px; }

.animated-spinner-hero .spinner-container .spinner-pagination .pager.active .pager-cta {
  position: absolute;
  height: 100%;
  width: 40px;
  top: 0;
  right: 0;
  background: url(../img/pager-cta.png) no-repeat center right 10px;
  background-size: 30px; }

.animated-spinner-hero .spinner-container .spinner-pagination .pager.queued {
  opacity: 0; }

.animated-spinner-hero .spinner-container .spinner-background {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: height 5s ease, opacity 1s ease; }

.animated-spinner-hero .spinner-container .spinner-background .swiper-page-prev, .animated-spinner-hero .spinner-container .spinner-background .swiper-page-next {
  position: absolute;
  left: 0;
  width: 40px;
  height: 50%;
  cursor: pointer;
  background-size: 20px 12px;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: .75; }

.animated-spinner-hero .spinner-container .spinner-background .swiper-page-prev {
  top: 0;
  background-image: url(../img/up-chevron.png); }

.animated-spinner-hero .spinner-container .spinner-background .swiper-page-next {
  bottom: 0;
  background-image: url(../img/down-chevron.png); }

/* breakpoints */
@media (min-width: 768px) {
  .animated-spinner-hero .swiper-wrapper .swiper-slide .headline {
    margin-top: 30vh;
    color: white; }
  .animated-spinner-hero .swiper-wrapper .swiper-slide .headline h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 36px;
    margin-top: 0; }
  .animated-spinner-hero .swiper-wrapper .swiper-slide .headline .description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 18px;
    line-height: 1.4; }
  .animated-spinner-hero .spinner-container {
    top: 60vh;
    width: 50vw;
    height: auto;
    min-width: 700px; }
  .animated-spinner-hero .spinner-container .spinner-pagination .pager {
    font-size: 20px; }
  .animated-spinner-hero .spinner-container .spinner-pagination .pager.active {
    padding-left: 75px; }
  .animated-spinner-hero .spinner-container .spinner-background .swiper-page-prev, .animated-spinner-hero .spinner-container .spinner-background .swiper-page-next {
    width: 75px;
    background-size: 15px 9px;
    opacity: .5;
    transition: opacity .5s ease; }
  .animated-spinner-hero .spinner-container .spinner-background .swiper-page-prev:hover, .animated-spinner-hero .spinner-container .spinner-background .swiper-page-next:hover {
    opacity: 1; }
  .animated-spinner-hero .spinner-container .spinner-background .swiper-page-prev {
    background-position: center bottom 15px; }
  .animated-spinner-hero .spinner-container .spinner-background .swiper-page-next {
    background-position: center top 15px; } }

/* breakpoints */
