
.animated-spinner-hero {
	
	.swiper-wrapper {
		.swiper-slide {
			
			.headline {
				margin-top: 30vh;
				color: white;
						
				h2 {
					@include OpenSansExtraBold;
					font-size: 36px;
					margin-top: 0;
				}
				.description {
					@include OpenSansLight;
					font-size: 18px;
					line-height: 1.4;
				}
			}
		}
	}
	.spinner-container {
		top: 60vh;
		width: 50vw;
		height: auto;
		min-width: 700px;
		.spinner-pagination {
			
			.pager {
				font-size: 20px;
				padding: 0 50px 0 75px;
				background: none;
				bottom: auto;
				
				&.active {
					top: 25px; // match value activeMargin in JS to avoid transition on page load
					bottom: auto;

					.swiper-controls {

					}

					.pager-cta {
							
					}
				}
				&.visible {
					opacity: 1;
				}
			}
		}
		.spinner-background {
			top: 0;
			bottom: auto;
			
			.swiper-controls {
				.swiper-page-prev, .swiper-page-next {
					opacity: .5;
					transition: opacity $transition-speed ease;

					&:hover {
						opacity: 1;
					}
				}
			}

			.pager-cta {
				opacity: .5;
				transition: opacity $transition-speed ease;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}